{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        /* Set the iframe to fill the width while maintaining aspect ratio */
        .embed-responsive-16by9-custom {
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 * 100) */
        }
        .embed-responsive-16by9-custom iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock head %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Side Navigation -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="user-profile mb-4">
                <img src="/media/{{ request.user.image }}" alt="User Image" />
                <div>
                    <h4>{{ request.user.fname }}</h4>
                    <p>العمر: 30 سنة</p>
                </div>
            </div>

            <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{%url 'base'%}">
                <i class="ri-user-fill me-2"></i>
                {{ request.user.fname }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'lessons:reading'%}">
                <i class="ri-book-3-fill me-2"></i>
                القراءة
                <i class="fa fa-play play-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'lessons:writting'%}">
                <i class="ri-pencil-fill me-2"></i>
                الكتابة
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'lessons:listening'%}">
                <i class="ri-headphone-fill me-2"></i>
                الاستماع
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ri-gamepad-fill me-2"></i>
                الألعاب
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ri-chat-3-fill me-2"></i>
                الشات الجماعي
              </a>
            </li>
          </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10">
            <div class="user-profile p-4 bg-white shadow rounded">
                <h1>{{ lesson.title }}</h1>
                <div>
                <!-- Responsive embedding for video -->
                <div class="embed-responsive embed-responsive-16by9-custom">
                    <video  width="100%" class="embed-responsive-item" controls>
                        <source src="/media/{{ lesson.video_link }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                    <!-- Add more details about the lesson as needed -->
                </div>
        
            <!-- Completion Button -->
                <form method="post" action="{% url 'lessons:mark_completed' lesson_id=lesson.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-3">مكتمل</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
