{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
                    /* تحديد أشكال الدروس وتغيير لون الدائرة */
            /* تحديد أشكال الدروس وتغيير لون الدائرة */

            .lesson-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    color:black;
                    font-size: 18px; /* تعيين حجم الخط لأسماء الدروس */
                }

                .lesson-circle {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    margin-right: 10px;
                    flex-shrink: 0; /* تمنع تغيير حجم الدائرة عند تغيير حجم النص */
                    border: 2px solid; /* إضافة حدود للدائرة */
                    display:inline-block;
                }

                .lesson-not-completed .lesson-circle {
                    border-color: black; /* لون حدود الدائرة عندما لا يكون المرحلة مكتملة */
                    background-color: white; /* لون خلفية الدائرة عندما لا يكون المرحلة مكتملة */
                }

                .lesson-completed .lesson-circle {
                    border-color: green; /* لون حدود الدائرة عندما تكون المرحلة مكتملة */
                    background-color: white; /* لون خلفية الدائرة عندما تكون المرحلة مكتملة */
                }
                
    </style>
{% endblock head %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Side Navigation -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="user-profile mb-4">
                <img src="/media/{{ request.user.image }}" alt="User Image" />
                <div>
                    <h4>{{ request.user.fname }}</h4>
                    <p>العمر: 30 سنة</p>
                </div>
            </div>

        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{%url 'base'%}">
                <i class="ri-user-fill me-2"></i>
                {{ request.user.fname }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'lessons:reading'%}">
                <i class="ri-book-3-fill me-2"></i>
                القراءة
                <i class="fa fa-play play-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'lessons:writting'%}">
                <i class="ri-pencil-fill me-2"></i>
                الكتابة
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'lessons:listening'%}">
                <i class="ri-headphone-fill me-2"></i>
                الاستماع
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ri-gamepad-fill me-2"></i>
                الألعاب
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ri-chat-3-fill me-2"></i>
                الشات الجماعي
              </a>
            </li>
          </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10">
            <div class="user-profile p-4 bg-white shadow rounded">
                <h1>دروس الكتابة</h1>
               <ul class="nav flex-column">
                    {% for lesson in lessons %}
                        <li class="nav-item lesson-item {% if lesson.is_completed %}lesson-completed{% else %}lesson-not-completed{% endif %}">
                            <a class="nav-link" href="{% url 'lessons:lesson_detail' lesson_id=lesson.id %}">
                                <div class="lesson-circle"></div>
                                {{ lesson.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
